body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

canvas {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}
